<h2> {{subject}} </h2>

<form action="/form" method="get">
    <input type="text" name="text">
    <button type="submit">Submit</button>
</form>


<div>
    <b>Tekst:</b> {{title}}
</div>

<div>
    <b>10 znakow:</b> {{shortTitle title}}
</div>

<div>
    <b>Duze litery:</b> {{bigFirstLetter title}}
</div>

<div>
    <b>Myslniki:</b> {{myslniki title}}
</div>