{{> head}}
<section>
    file info
</section>
<main>
    <p class="info">
        <span class="blue">id:</span> {{id}} <br>
        <span class="blue">name:</span> {{name}} <br>
        <span class="blue">path:</span> {{path}} <br>
        <span class="blue">size:</span> {{size}} <br>
        <span class="blue">type:</span> {{type}} <br>
        <span class="blue">date:</span> {{date}} <br>
    </p>
</main>